*{
    margin: 0;
    padding: 0;
}
body
{
    background: url(bg.JPG.jpg) no-repeat center center fixed;
    background-size: cover;
}
.container
{
    border: 12px;
    color: white;
    position: absolute;
    top: 45%;
    left: 43%;
}
.container h1
{
    font-size: 40px;
    border-bottom: 5px solid rgb(rgb(168, 112, 112), green, blue);
    margin-bottom: 43px;
    padding: 13px 0;
    color: rgb(197, 255, 255);
}
.box
{
    width: 100%;
    margin:25px;
}
.box i{
    width: 25px;
    float: left;
    text-align: center;
}
.loginbtn{
    display: flex;
    justify-content: center;
}
.btn{
    cursor: pointer;
    outline: none;
    width: 25%;
    margin: 12px 0;
    padding: 6px;
    border: 2px solid purple;
    border-radius: 10px;
}

.btn:hover{
    background-color: rgb(214, 214, 214);
}